logs
bower_components
scripts/data/*


### /Users/flooky/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/flooky/.gitignore-boilerplates/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### /Users/flooky/.gitignore-boilerplates/Global/SublimeText.gitignore

# SublimeText project files
*.sublime-workspace


### /Users/flooky/.gitignore-boilerplates/Global/SASS.gitignore

### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache


### /Users/flooky/.gitignore-boilerplates/Node.gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
